.nextArrow::before,
.prevArrow::before {
  font-family: "Concert One";
  border: 2px solid rgb(226, 226, 226);
  background-color: rgb(72, 73, 73);
  color: rgb(251, 251, 251);
  border-radius: 5px;
  padding: 0px 14px 4px 14px;
  font-size: 20px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  .nextArrow::before,
  .prevArrow::before {
    font-size: 40px !important;
    padding: 0px 20px 8px 20px;
  }
}

.nextArrow::before {
  content: ">";
}

.prevArrow::before {
  content: "<";
}

.prevArrow {
  top: 50%;
  transform: translateY(-50%);
  left: -3% !important;
  z-index: 10;
}

.nextArrow {
  top: 50%;
  transform: translateY(-50%);
  right: 1% !important;
}

/* @media only screen and (min-width: 400px) {
  .prevArrow {
    left: 80% !important;
  }
}

@media only screen and (min-width: 768px) {
  .prevArrow {
    top: 400px !important;
    left: 80% !important;
  }

  .nextArrow {
    top: 400px !important;
    right: 50px !important;
  }
}

@media only screen and (min-width: 1280px) {
  .prevArrow {
    top: 300px !important;
    left: 85% !important;
  }

  .nextArrow {
    top: 300px !important;
    right: 7% !important;
  }
}

@media only screen and (min-width: 768px) and (min-height: 1024px) {
  .prevArrow .nextArrow {
    display: none !important;
  }
} */
